@font-face {
    font-family: DigitalDream; src: url('DIGITALDREAM.TTF'); 
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: black;
    font-size: 20px;
}

.container {
    background-color: #CEEAF7;
    height: 100vh;
    padding: 5%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    flex-direction: column;
}

.display {
    height: 100px;
    width: 400px;

    background-color: #CCD7E4;
    border: 3px black solid;
    flex-shrink: 0;

    position: relative;
}

#display-inner {
    position: absolute;
    bottom: 0;
    right: 0;

    font-family: DigitalDream, sans-serif;
    font-size: 60px;
}

.buttons {
    height: 400px;
    width: 400px;

    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: #828A95;
    border: 3px black solid;
}

button {
    background-color: #D5C9DF;
    width: 24%;
    height: 78px;
}

button:hover {
    background-color: #DCB8CB;
}

button:active {
    background-color: #F5EE9E;
}